extends layout

block content
  .app
      ul.notifs
        li.notif(ng-repeat="notif in notifs")
          a(ng-click="chat(notif)",href="#") Chat on Product {{notif.content}}
      #panel-add(ng-class="{ 'animate-enter': panelAddShow, 'animate-leave': !panelAddShow}")
        form.post(ng-submit="sendMessage()")
          
          //- button.post__submit(type="submit")
          //-   i.ss-icon send
          //-   span Send
          
          .post__message


            button.btn(type="button",ng-click="order.set('type', 'service')") Service
            button.btn(type="button",ng-click="order.set('type', 'product')") Product

            textarea(ng-model="message.content", on-focus="inputFocus()",placeholder="Enter your order here")
            input(ng-model="message.price",placeholder="price here")

            img(ng-src="{{message.photo}}",width=120)
            photo-input(file-input="file",on-change="readFile()",)

        form.modal(ng-show="usernamePrompt", ng-submit="sendMessage()")
          h3(class="modal__title") Merci de rentrer ton pseudo
          input#pseudoprompt(type="text", placeholder="Pseudo…", ng-model="me.username", class="modal__input")
          br
          input(type="submit", value="Valider", class="modal__submit")
    
    tabs(pane-changed="paneChanged(selectedPane)")
      pane(title="List")
        .chat
          ul.channels-list
            li.chan(ng-repeat="chan in channels", ng-class="{'is-active': chan.joined == true}")
              a(href="#" ,ng-click="toggleChannel(chan.name, $event)")
                span.chan__name # {{chan.name}}
                span.chan__nb-users
                  i.ss-icon users
                  {{chan.stats.users}}
                span.chan__nb-pois(ng-if="chan.stats.pois > 0")
                  i.ss-icon pin
                  {{chan.stats.pois}}

          ul.message-list-item(
              ng-repeat="order in orders | matchCurrentChannels:current_channels | orderBy:'post_date':true",
              ng-animate=" 'slide' "
            )
            li(class="message {{order.direction}}")
              img(ng-src="{{order.photo}}",width=120)
              span.message__user
                a(ng-href="{{order.author.link}}",target="_blank")
                  {{order.author.username}}
              p.message__content
                {{order.type}}
                {{order.direction}}
                br
                span(ng-bind-html-unsafe="order.content")
                span  
                  b {{order.price}}
                a(href="#", class="message__hash",
                  ng-repeat='hash in order.hashtags', ng-click="toggleChannel(hash, $event)")
                    # {{ hash }}
                .rich-content(ng-bind-html-unsafe="order.rich")
                a(ng-click="chat(order)",href="#") Chat
                span.poi-attach(ng-if="order.poi.name")
                  i.ss-icon pin
                  {{order.poi.name}}
                span.timeago(timeago="order.post_date")

        .bottom-bar
          button.btn.buy(ng-click="clickBuy()") Buy
          button.btn.sell(ng-click="clickSell()") Sell
          button.btn.add(ng-click="toggleAddOrder()") +


      pane(title="Map")
        .map
          google-map(
            center="center", 
            draggable="true", 
            zoom="zoom", 
            markers="markers", 
            latitude="selected.latitude", 
            longitude="selected.longitude", 
            refresh="isMapVisible()", 
            mark-click="true")
      pane(title="Me")

        h1 Who
        fieldset
          legend Username / Company name
          input(name="username",ng-model="me.username",placeholder="username here")
          br
          legend Order Position
          input(name="position_name",ng-model="me.order.place_name",placeholder="place name")

          span.post__poi(ng-show='poiMessage.name.length > 0')
            i.ss-icon(ng-click="poiMessage.name = ''") delete
            {{poiMessage.name}}
          img(src="/img/add-poi.svg", class="svg-icon", width="28", ng-click="togglePoiShow()")
          .poi-search(ng-class="{'is-hidden': !poiShow}")
            i.ss-icon search
            input#local_search(type="text", class="poi-search__input", placeholder="Recherche ton point d'interet…", ng-model="poiSearch", ng-change="typeahead(poiSearch)")
            ul.poi-search__results
              li(ng-repeat="result in poiResults")
                span.poi-search__name(ng-click="addPoi(result.name, result.location.lat, result.location.lng)") {{result.name}}
        

          input(id="my_position",type="radio",ng-model="me.order.position_type",value="mine")
          label(for="my_position") My position
          input(id="company_position",type="radio",ng-model="me.order.position_type",value="company")
          label(for="company_position") Business location

        h1 My Orders
      pane(ng-if="chat.show", title="Chat", activate="{{ chat.show }}")
        #chat(ng-controller="ChatCtrl")
          | Chat
          br
          {{chat.order}}
          br
          ul 
            li(class="message {{chat.order.direction}}")
              img(ng-src="{{chat.order.photo}}",width=120)
              span.message__user
                a(ng-href="{{chat.order.author.link}}",target="_blank")
                  {{caht.order.author.username}}
              p.message__content
                {{chat.order.type}}
                {{chat.order.direction}}
                br
                span(ng-bind-html-unsafe="chat.order.content")
                span  
                  b {{chat.order.price}}
                span.poi-attach(ng-if="chat.order.poi.name")
                  i.ss-icon pin
                  {{chat.order.poi.name}}
                span.timeago(timeago="chat.order.post_date")
              ul
                li.chat(ng-repeat="chat in chat.order.chats")
                  | {{chat.author.username}} &gt; {{chat.text}}
          input(ng-model="text",type="text",enter-submit="sendTxt()")



