extends layout

block content
  .app
      ul.notifs
        li.notif(ng-repeat="notif in notifs")
          a(ng-click="set_chat(notif)",href="#") Chat message on bid for {{notif.content}}
      .top-bar
          button.btn.add(ng-click="toggleAddOrder()") Submit a bid
      #panel-add(ng-class="{ 'animate-enter': panelAddShow, 'animate-leave': !panelAddShow}")
          
          //- button.post__submit(type="submit")
          //-   i.ss-icon send
          //-   span Send
          
          .post__message

             h2 Submit a bid

             div(class="description") 
              form.post(ng-submit="sendMessage()")
                span I want to 
                label.buy(for="buy")
                  input(id="buy",type="radio",ng-model="order.direction",value="buy")
                  | Buy
                | or 
                label.Sell(for="sell")
                  input(id="sell",type="radio",ng-model="order.direction",value="sell")
                  | Sell
                hr
                span A 
                label.service(for="service")
                  input(id="service",type="radio",ng-model="order.type",value="service")
                  | Service
                | or
                label.product(for="product")
                  input(id="product",type="radio",ng-model="order.type",value="product") 
                  | Product
                hr
                span It is a 
                input(type="text",ng-model="message.content",on-focus="inputFocus()",placeholder="Describe your bid...")
                hr
                span My bid is  
                input(type="text",ng-model="message.price",placeholder="Enter your price...")
                hr
                span It looks like 
                photo-input(file-input="file",on-change="readFile()",)
                img(ng-src="{{message.photo}}",width=120)
                hr
                button.btn(type="submit" style="float:right") Submit
              button.btn(ng-click="toggleAddOrder()" style="float:left") Cancel

        form.modal(ng-show="usernamePrompt", ng-submit="sendMessage()")
          h3(class="modal__title") Please enter your name
          input#pseudoprompt(type="text", placeholder="Your name", ng-model="me.username", class="modal__input")
          br
          input(type="submit", value="OK", class="modal__submit")
              
    tabs(pane-changed="paneChanged(selectedPane)")
      pane(title="List")
        .chat
          ul.channels-list
            li.chan(ng-repeat="chan in channels", ng-class="{'is-active': chan.joined == true}")
              a(href="#" ,ng-click="toggleChannel(chan.name, $event)")
                span.chan__name # {{chan.name}}
                span.chan__nb-users
                  i.ss-icon users
                  {{chan.stats.users}}
                span.chan__nb-pois(ng-if="chan.stats.pois > 0")
                  i.ss-icon pin
                  {{chan.stats.pois}}

          ul.message-list-item(
              ng-repeat="order in orders | matchCurrentChannels:current_channels | orderBy:'post_date':true",
              ng-animate=" 'slide' "
            )
            li(class="message {{order.direction}}")
              p.message__content
                a(ng-href="{{order.author.link}}",target="_blank")
                  {{order.author.username}}
                |  is 
                {{order.direction}}ing
                |  a 
                {{order.type}}
                |  of 
                span(ng-bind-html-unsafe="order.content")
                span  for
                span  
                  b {{order.price}}
                a(href="#", class="message__hash",
                  ng-repeat='hash in order.hashtags', ng-click="toggleChannel(hash, $event)")
                    # {{ hash }}
                br
                img(ng-src="{{order.photo}}",width=120)
                .rich-content(ng-bind-html-unsafe="order.rich")
                button(ng-if="order.direction == 'sell'",class="btn") Buy now
                button(ng-if="order.direction == 'buy'",class="btn") Sell now
                button(ng-click="set_chat(order)" class="btn") Chat
                span.poi-attach(ng-if="order.poi.name")
                  i.ss-icon pin
                  {{order.poi.name}}
                span.timeago(timeago="order.post_date")



      pane(title="Map")
        .map
          google-map(
            center="center", 
            draggable="true", 
            zoom="zoom", 
            markers="markers", 
            latitude="selected.latitude", 
            longitude="selected.longitude", 
            refresh="isMapVisible()", 
            mark-click="true")

      pane(title="About me")
        div(class="me-block")
          h1 Who I am
          fieldset
            span My name/business name is 
            input.text(name="username",ng-model="me.username",placeholder="Your name...")
            hr
            span I am located 
            input.text(name="position_name",ng-model="me.order.place_name",placeholder="Your place name..")

            span.post__poi(ng-show='poiMessage.name.length > 0')
              i.ss-icon(ng-click="poiMessage.name = ''") delete
              {{poiMessage.name}}
            
            img(src="/img/add-poi.svg", class="svg-icon", width="28", ng-click="togglePoiShow()")
            .poi-search(ng-class="{'is-hidden': !poiShow}")
              i.ss-icon search
              input#local_search(type="text", class="poi-search__input", placeholder="Type in your location", ng-model="poiSearch", ng-change="typeahead(poiSearch)")
              ul.poi-search__results
                li(ng-repeat="result in poiResults")
                  span.poi-search__name(ng-click="addPoi(result.name, result.location.lat, result.location.lng)") {{result.name}}

            hr.whichis
            span  which is
            label.personal(for="my_position")
              input(id="my_position",type="radio",ng-model="me.order.position_type",value="mine")
              | my personal 
            | or
            label.business(for="company_position")
              input(id="company_position",type="radio",ng-model="me.order.position_type",value="company")
              | business
            | location

        div(class="me-block")
          h1 My past transactions
          ul.message-list-item(
              ng-repeat="order in orders | orderBy:'post_date':true",
              ng-animate=" 'slide' "
            )
            li(class="message {{order.direction}}")
              a(ng-href="{{order.author.link}}",target="_blank")
                  {{order.author.username}}
              |  has 
              span(ng-if="order.direction == 'sell'") sold me
              span(ng-if="order.direction == 'buy'") bought me
              |  a 
              {{order.type}}
              |  of 
              span(ng-bind-html-unsafe="order.content")
              |  for
              span  
                b {{order.price}}
              br
              img(ng-src="{{order.photo}}",width=120)
                .rich-content(ng-bind-html-unsafe="order.rich")
              br
              button(ng-click="set_chat(order)" class="btn") Chat
              span.poi-attach(ng-if="order.poi.name")
                i.ss-icon pin
                {{order.poi.name}}
              span.timeago(timeago="order.post_date")
      pane(title="Chat", display="chat.show")
        div(ng-if="chat.order")
          #chat(ng-controller="ChatCtrl")
            ul 
              li(class="message {{chat.order.direction}}")
                span.message__user
                  span.poi-attach(ng-if="chat.order.poi.name")
                    i.ss-icon pin
                    {{chat.order.poi.name}}
                p.message__content
                  | Chat with 
                  a(ng-href="{{chat.order.author.link}}",target="_blank")
                    {{chat.order.author.username}}
                  |  {{chat.order.direction}}ing 
                  {{chat.order.type}} 
                  span(ng-bind-html-unsafe="chat.order.content")
                  span  for  
                    b {{chat.order.price}}
                button(ng-if="chat.order.direction == 'sell'",class="btn") Buy now
                button(ng-if="chat.order.direction == 'buy'",class="btn") Sell now
                button(ng-if="me.id != chat.order.author.id",class="btn",ng-click="visio_call()") Visio
                br
                br
                .cams(ng-repeat="user in users")
                  camera(stream="user.stream",show="cam.activated",autoplay="true",audio="user.audio")
                ul
                  li.chat(ng-repeat="chat in chat.order.chats")
                    span.author {{chat.author.username}}: 
                    | {{chat.text}}
                div.chat-control
                  input(ng-model="text",type="text",enter-submit="sendTxt()",placeholder="Your message...")
                  button.btn.submit(ng-click="sendTxt()") Send
                span.timeago(timeago="chat.order.post_date")



